{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h1 class="text-center mb-4">About WeatherExpress</h1>
        <div class="row">
            <div class="col-md-12">
                <h4 class="col-md-12 mt-3">Welcome to WeatherExpress</h4>
                <p class="text">WeatherExpress is a user-friendly web application that allows you to easily
                    get weather information for any city in the world. With a simple and intuitive
                    interface, you can quickly search for a city, select your preferred temperature
                    unit, and view the current weather conditions, including weather summary, weather
                    description, and high/low temperatures for different times of the day.</p>
                <p class="text">Weather App also provides an interactive map powered by the Google Maps API,
                    allowing you to visually explore and interact with the map to view weather
                    information for different locations on the map.</p>
            </div>

        </div>
        <h4 class="col-md-12 mt-5 mb-4">Technologies Used</h4>
        <ul class="text">
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Flask (Python web framework)</li>
            <li>Google Maps JavaScript API (for interactive map)</li>
        </ul>
        <h4 class="mt-5 col-md-12">Author</h4>
        <p class="text">This weather app was created by Luke as a personal project.</p>
        <div class="text-center">
            <h4 class="mt-5">Contact Information</h4>
            <ul class="list-inline small">
                <li class="list-inline-item">
                    <a href="https://github.com/lhiura001" target="_blank" title="GitHub">
                        <i class="fab fa-github" aria-hidden="true"></i> Github
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.linkedin.com/in/luke-h-418a7a115/" target="_blank" title="LinkedIn">
                        <i class="fab fa-linkedin-in" aria-hidden="true"></i> LinkedIn
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock content %}