{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-10 offset-md-2">
          {% if total_posts == 0 %}
            <p>No posts found Error!</p>
          {% else %}
            {% for post in posts %}
                <article class="media content-section text">
                    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + user_list[count]) }}">
                    <div class="media-body">
                        <div class="article-metadata">
                            <a class="mr-2" href="{{ url_for('user_posts', username=post['username']) }}">{{ post['username'] }}</a>
                            <small class="text">{{ post['date_posted'].strftime('%Y-%m-%d') }}</small>
                        </div>
                        <h2 class="article-title"><a href="{{ url_for('post', post_id=post['_id'])}}">{{ post['title'] }}</a></h2>
                        <p class="article-content text">{{ post['content'] }}</p>
                    </div>
                </article>
                {% set count = count + 1 %}
            {% endfor %}
          {% endif %}
            <div class="pagination mt-4">
                {% if page > 1 %}
                    <a class="btn btn-outline-info mr-2" href="{{ url_for('blog', page=1) }}">First</a>
                    <a class="btn btn-outline-info mr-2" href="{{ url_for('blog', page=page-1) }}">Previous</a>
                {% endif %}
                <span class="current-page">{{ page }}</span>
                {% if page < total_pages %}
                    <a class="btn btn-outline-info mr-2" href="{{ url_for('blog', page=page+1) }}">Next</a>
                    <a class="btn btn-outline-info" href="{{ url_for('blog', page=total_pages) }}">Last</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}