body {
  background: black;
  color: black;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#background-image-container {
  /* Set initial background image */
  background-image: url(https://source.unsplash.com/random/vertical/?city);
  /* Add other CSS properties for the container as needed */
}


h5, h6 {
  color: #444444;
  font-size: 80%;
  height: 80%
}

h1,h2,h3,h4,h5{
  color: white

}

#posts {
  color:white
}

.card-body{
  background: #000000d0;
  padding: 2em;
  border-radius: 30px;
  margin: 0em;
}

.card{
  background: none;
  border: none;
}

.searchcontainer{
  background: #000000d0;
  padding: 2em;
  border-radius: 30px;
  margin: 0em;
}

.aboutContainer {
  background: #000000d0;
  padding: 1.5em;
  border-radius: 30px;
  margin: 0em;
}

.text {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: white;
}

.list-icon {
  margin-right: 10px;
  font-size: 1.2rem;
  color: #666;
}
.navbar {
  background-color: #000000d0;
}

.form-check{
  color:white
}

.form-group{
  color:white
}
.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #000000d0;
  padding: 1em;
  border-radius: 30px;
  margin-bottom: 10px;
  width: 100%;
  
} 

.forms-section {
  background: #000000d0;
  padding: 1em;
  border-radius: 30px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 420px;
  
} 

.other-section {
  background: #000000d0;
  padding: 0.8em;
  border-radius: 30px;
  margin-bottom: 20px;
  max-width: 240px;
  width: 100%;

}

.article-title {
  color: #444444;
}

.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

#image-container {
    margin-top: 20px;
    text-align: center;
}
#city-image {
    max-width: 100%;
    height: auto;
}

#unitSelect option{
  font-size: 10px;
  padding: 10px;
}

.errorMessage {
  padding: 1em;
  display: none;
  color: red;
  margin-left: 1000px;
  border: 5px solid red;
  
}

#deleteModalLabel{
  color: black;
  text-align: center;
  font: bold;
  font-size: x-large;

}


#chatbox {
  background-color: #000000d0;
  display: flex;
  flex-direction: column;
  height: 90vh;
  padding: 10px;
  border-radius: 10px;
}

#chatlog {
  padding: 10px;
  overflow-y: scroll;
  flex: 1;
}

#chatlog::-webkit-scrollbar {
  width: 10px;
  background-color: grey;
}

#chatlog::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 10px;
}

#chatlog p {
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  max-width: 80%;
}

#chatlog p.user {
  background-color: lightseagreen;
  color: #000000d0;
  float: right;
}

#chatlog p.bot {
  background-color: grey;
  color: #000000d0;
  float: left;
}

#input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  color: #000000d0;
}

#userInput {
  width: 80%;
  margin-right: 10px;
  color: #000000d0;
  background-color: #fff;
  border: none;
  padding: 10px;
  border-radius: 10px;
}


#sendButton {
  width: 20%;
  color: white;
  background-color: lightseagreen;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#sendButton:hover {
  background-color: darkseagreen;
}

#chatbox-header h1 {
  font-size: 30px;
  color: lightseagreen;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}

#chatbox-header p {
  font-size: 15px;
  color: #777777;
  text-align: center;
  margin-bottom: 40px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}

#input-container {
  position: relative;
}

#loading-icon-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  width: 15px;
  height: 20px;
  display: none;
}

h6.text {
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

p.text {
  font-size: 15px;
  color: white;
  margin-bottom: 0;
  padding: 10px;
}


#loading-icon-container i {
  font-size: 20px;
  color: #888;
}

.list-icon {
  margin-right: 10px;
  font-size: 1.2rem;
}

/* Style for the paragraphs */
.text {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 30px;
}

/* Color for the icon 'fa-globe' */
.fa-globe {
  color: #4CAF50;
}

/* Color for the icon 'fa-map-marked-alt' */
.fa-map-marked-alt {
  color: #2196F3;
}

/* Color for the icon 'fa-robot' */
.fa-robot {
  color: #FFC107;
}

/* Color for the icon 'fa-comments' */
.fa-comments {
  color: #FF9800;
}

/* Color for the icon 'fa-html5' */
.fa-html5 {
  color: #E65100;
}

/* Color for the icon 'fa-css3' */
.fa-css3 {
  color: #039BE5;
}

/* Color for the icon 'fa-js' */
.fa-js {
  color: #FFD600;
}

/* Color for the icon 'fa-python' */
.fa-python {
  color: #4CAF50;
}

/* Color for the icon 'fa-google' */
.fa-google {
  color: #2196F3;
}

/* Color for the icon 'fa-brain' */
.fa-brain {
  color: #673AB7;
}

